# 應用基本設定
PUBLIC_APP_NAME="Vite Svelte Kit"
PUBLIC_APP_DESCRIPTION="A SvelteKit template."
PUBLIC_APP_URL="https://your-domain.com"
PUBLIC_APP_AUTHOR="Your Name"
PUBLIC_APP_KEYWORDS="svelte, sveltekit, vite, typescript"
PUBLIC_APP_OG_IMAGE="/assets/og-image.jpg"
PUBLIC_APP_LANG="zh-Hant"